packages:
  yum:
    python-devel: []
    postgresql-devel: []

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: syte/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: syte/static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: syte.settings