<div class="profile apps modal fade-large" id="apps-modal">
  <button class="close" data-dismiss="modal">×</button>
  <h2 class="h3">Applications</h2>
  <a href="http://myhomeworkapp.com">
    <img src="/static/imgs/a1.png" alt="myHomework" />
  </a>
  <a href="http://itunes.apple.com/us/app/touch-boom/id327876796?mt=8">
    <img src="/static/imgs/a2.png" alt="Touch Boom!" />
  </a>
  <a href="http://itunes.apple.com/us/app/my-goal/id375722933?mt=8">
    <img src="/static/imgs/a3.png" alt="my Goal" />
  </a>
</div>

