<div class="profile twitter modal fade" id="twitter-profile">
  {{#with user}}
  <div class="profile-info">
    <button class="close" data-dismiss="modal">×</button>
    <a href="http://twitter.com/#!/{{ screen_name }}" class="profile-avatar">
      <img src="{{ profile_image_url }}" alt="{{name}}" />
    </a>
    <div class="profile-name">
      <h2><a href="http://twitter.com/#!/{{ screen_name }}">{{ name }}</a></h2>
      <h3><a href="http://twitter.com/#!/{{ screen_name }}">@{{ screen_name}}</a></h3>
    </div>
    <p class="profile-description">{{{ f_description }}}</p>
    <p class="profile-location-url">
      {{#if location }}
      <span>{{ location }}</span>
      <span class="divider">·</span>
      {{/if}}
      {{#if url }}
      <span><a href="{{ url }}">{{ url }}</a></span>
      {{/if}}
    </p>
  </div>
  <ul class="profile-stats">
    <li><a href="http://twitter.com/#!/{{ screen_name }}"><strong>{{ statuses_count }}</strong> tweets</a></li>
    <li><a href="http://twitter.com/#!/{{ screen_name }}/following"><strong>{{ friends_count }}</strong> following</a></li> 
    <li><a href="http://twitter.com/#!/{{ screen_name }}/followers"><strong>{{ followers_count }}</strong> followers</a></li>
  </ul>
  <div class="profile-info-footer">
    <a href="http://twitter.com/#!/{{ screen_name }}" class="btn">Follow on Twitter</a>
  </div>
  {{/with}}
  <ul class="profile-tweets">
    {{#each tweets}}
      <li>
        {{#with user }}
        <a href="http://twitter.com/#!/{{ screen_name }}" class="tweet-title">
          <img src="{{ profile_image_url }}" alt="{{ name }}" />
          <strong>{{ name }}</strong>
          <span>@{{ screen_name }}</span>
        </a>
        {{/with}}
        <p class="tweet-text">
        {{{ f_text }}}
        </p>
        <p class="tweet-date">
          {{ formated_date }}
        </p>
      </li>
    {{/each}}
  </ul>
</div>

