{% extends 'base.html' %}
{% block pagetitle %}{{ post_title }}{% endblock %}
{% block main_section %}
    <section class="main-section blog-section" id="admin_page" style="padding-top: 60px">
        <div class="row">
            <div class="offset1">
                <h1><a href="/admin">Posts</a> / {% block admintitle %}{% endblock %}</h1>
                <br />
            </div>

            <div class="offset1">
                {% block admincontent %}{% endblock %}
            </div>
        </div>


    </section>
{% endblock %}