{% extends 'index.html' %}
{% block main_section %}
<section class="main-section apps-section apps">
  <h2 class="h3">Full Time</h2>
  <a href="http://myhomeworkapp.com">
    <img src="/static/imgs/p1.png" alt="myHomework" />
  </a>
  <a href="http://teachers.io">
    <img src="/static/imgs/p2.png" alt="Teachers.io" />
  </a>
  <h2 class="h3">Side Projects</h2>
  <a href="http://rigoneri.github.com/syte/">
    <img src="/static/imgs/p3.png" alt="Syte" />
  </a>
  <a href="/tags/betternest">
    <img src="/static/imgs/p4.png" alt="Better Nest" />
  </a>
  <h2 class="h3">Old Projects</h2>
  <a href="http://itunes.apple.com/us/app/my-goal/id375722933?mt=8">
    <img src="/static/imgs/p5.png" alt="my Goal" />
  </a>
  <a href="http://itunes.apple.com/us/app/touch-boom/id327876796?mt=8">
    <img src="/static/imgs/p6.png" alt="Touch Boom!" />
  </a>
</section>
{% endblock %}
{% block extra_inline_js %}
$(function() {
  setupLinks();
  adjustSelection('apps-link');
});
{% endblock %}



