<!-- based on http://iconogen.com/ -->
<link rel="shortcut icon" href="../static/imgs/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="../static/imgs/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="../static/imgs/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="../static/imgs/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="../static/imgs/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="../static/imgs/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="57x57" href="../static/imgs/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="../static/imgs/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="114x114" href="../static/imgs/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="144x144" href="../static/imgs/apple-touch-icon-152x152.png" />