{% extends 'base.html' %}
{% block pagetitle %}Github Auth{% endblock %}
{% block main_section %}
<section class="main-section">
  <article>
    {% if error %}
      <h2>Unable to get Access Token</h2>
      <p>{{ error }}</p>
    {% else %}
      <h2>Github Access Token</h2>
      <p>Go to your syte_settings.py and enter the token under <code>GITHUB_ACCESS_TOKEN</code>.</p>
      <dl>
        <dt>Access Token</dt><dd>{{ token }}</dd>
      </dl>
    {% endif %}
  </article>
</section>
{% endblock %}


