{% extends 'base.html' %}
{% block main_section %}
<section class="main-section blog-section" id="blog-posts">
  <span class="loading">loading blog posts ...</span>
</section>
{% endblock %}
{% block extra_inline_js %}

var postOffset = 0;
$(function() {
  {% if tag_slug %}
  fetchBlogPosts(postOffset, "{{tag_slug}}");
  {% else %}
  fetchBlogPosts(postOffset);
  {% endif %}
  {% if DISQUS_INTEGRATION_ENABLED %}
  $('body').bind('blog-post-loaded', function() {
    embedDisqus(true);
  });
  {% endif %}
});

var resultsLoaded = false;
$(window).scroll(function() {
  if(!resultsLoaded && ($(window).scrollTop() +
    $(window).height() > $(document).height()/1.2)) {
      resultsLoaded = true;
      postOffset += 20;
      fetchBlogPosts(postOffset{% if tag_slug %}, "{{tag_slug}}"{% endif%});
  }
  if(resultsLoaded && ($(window).scrollTop() + 
    $(window).height() < $(document).height()/1.2)) {
      resultsLoaded = false;
  }
});
{% endblock %}
